<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.26.0/css/uikit.almost-flat.min.css" />
</head>
<body>

    <div id="abstract-handler" class="uk-block">
        <div class="uk-container uk-container-center uk-margin">

            <h1 class="uk-article-title">Abstract Handler</h1>

            <ul class="uk-list uk-list-line">
                <li v-for="abstract in abstracts" class="uk-form">
                    <input type="text" v-model="abstract.AbstTitle"/>
                    <a @click="remove(abstract)"><i class="uk-icon-close"></i></a>
                </li>
            </ul>

            <button class="uk-button" @click="add">Add</button>

            <button class="uk-button uk-button-primary uk-margin-small-right" @click="save">Save</button>

        </div>

        <pre>{{$data|json}}</pre>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.26.0/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.20/vue.js"></script>
    <script src="js/app.js"></script>
</body>
</html>

